{# Expected config_overrides keys:
     queue            string  default 'normal'
     project          string  optional → '-P <project>'
     time             string  optional → '-W <time>'
     cluster_options  string  optional free-form, appended verbatim to clusterOptions
#}
{% extends "base.config.j2" %}
{% block executor_block %}
{%- set ov = profile.config_overrides %}
{%- set queue_val = ov.get('queue', 'normal') %}
{%- set extra_parts = [] %}
{%- if ov.get('project') %}{% set _ = extra_parts.append('-P ' ~ ov['project']) %}{% endif %}
{%- if ov.get('time') %}{% set _ = extra_parts.append('-W ' ~ ov['time']) %}{% endif %}
{%- if ov.get('cluster_options') %}{% set _ = extra_parts.append(ov['cluster_options']) %}{% endif %}
process {
    executor = 'lsf'
    queue = '{{ queue_val }}'
{%- if extra_parts %}
    clusterOptions = '{{ extra_parts | join(" ") }}'
{%- endif %}
}
{% endblock %}
