{# Expected config_overrides keys:
     queue            string  optional
     account          string  optional → '#PBS -A <account>'
     time             string  optional → '#PBS -l walltime=<time>'
     cluster_options  string  optional free-form, appended verbatim to clusterOptions
#}
{% extends "base.config.j2" %}
{% block executor_block %}
{%- set ov = profile.config_overrides %}
{%- set extra_parts = [] %}
{%- if ov.get('account') %}{% set _ = extra_parts.append('-A ' ~ (ov['account'] | groovy_escape)) %}{% endif %}
{%- if ov.get('time') %}{% set _ = extra_parts.append('-l walltime=' ~ (ov['time'] | groovy_escape)) %}{% endif %}
{%- if ov.get('cluster_options') %}{% set _ = extra_parts.append(ov['cluster_options'] | groovy_escape) %}{% endif %}
process {
    executor = 'pbs'
{%- if ov.get('queue') %}
    queue = '{{ ov['queue'] | groovy_escape }}'
{%- endif %}
{%- if extra_parts %}
    clusterOptions = '{{ extra_parts | join(" ") }}'
{%- endif %}
}
{% endblock %}
